{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="col-12">
    <div class="row justify-content-center mb-4">
        <div class="box-element product col-8">
            <img class="product-detail-img" src="{{product.imageURL}}">
            <hr>
            <h6><strong>{{product.name}}</strong></h6>
            <p>{{ product.description }}</p>
            <p><strong>Colour: </strong>{{ product.color }}</p>
            <p><strong>Category: </strong>{{ product.category }}</p>
            <hr>

            {% if user.is_authenticated %}
            <button data-product="{{product.id}}" data-action="add"
                class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</a>
            {% endif %}
            <h4 style="display: inline-block; float: right"><strong>£{{product.price}}</strong></h4>
        </div>
    </div>

    <div class="row justify-content-center my-4">
        <div class="box-element product col-8">
            <h6><strong>Customer Reviews</strong> ({{ review_count }})</h6>
            {% for review in reviews %}
            <div class="my-4">
                <hr>
                <h6><strong>User: </strong>{{ review.user }}</h6>
                <p>
                    {% if review.rating >= 1 %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffc107"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    {% endif %}
                    {% if review.rating >= 2 %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffc107"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    {% endif %}
                    {% if review.rating >= 3 %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffc107"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    {% endif %}
                    {% if review.rating >= 4 %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffc107"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    {% endif %}
                    {% if review.rating == 5 %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffc107"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    {% endif %}
                </p>
                <p class="review-created">{{ review.created_at }}</p>
                <p>{{ review.body }}</p>
            </div>
            {% empty %}
            <p>There are currently no reviews for this product.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}