{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
	{% for product in products %}
	<div class="col-lg-4">
		<div class="box-element product">
			<!-- product.featured_image.url  will go here for cloudinary when setup {{product.imageURL}} usually -->
			<img class="thumbnail" alt="product image" src="{{product.featured_image.url}}">
			<hr>
			<h1 class="product-title"><strong>{{product.name}}</strong></h1>
			<hr>

            {% if user.is_authenticated %}
            <button data-product="{{product.id}}" data-action="add"
                class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            {% else %}
            <a href="{% url 'account_login' %}"
                class="btn btn-outline-secondary add-btn update-cart">Add to Cart</a>
            {% endif %}
			<a class="btn btn-outline-success" href="/product/{{ product.id }}">View</a>
			<h2 class="product-prices" style="display: inline-block; float: right"><strong>£{{product.price}}</strong></h2>

		</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}