body{
	background-color: hsl(0, 5%, 91%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: fit-content;
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #1F212A!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 5px;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.hidden{
	display: none!important;
}

.user-status{
	color: #ffffff!important;
}

.btn-signup{
	border: 2px solid rgb(35, 35, 35);
}

.product-detail-img{
	height: fit-content;
	width: 100%;
}

.review-created{
	font-size: small;
	color: darkslategray;
}

.review-textarea{
	box-sizing: border-box;
	width: 100%;
}

.helptext {
	visibility: hidden;
  }

.product-title{
	font-size: medium;
}

.product-prices{
	font-size: medium;
}

.view-btn{
	border: 2px solid green;
	font-weight: bold;
}

.add-btn{
	border: 2px solid #1F212A;
	color: #1F212A;
	font-weight: bold;
}

.product{
	border-radius: 8px;
	border: 1px solid rgb(34, 27, 59);

}